@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
 
body{
    background: linear-gradient(270deg, #BDBE6E 0.44%, #F3BD1D 51.22%, #BAD9C9 95.23%);
}
.barra{
    position: absolute;
    width: 1920px;
    height: 82.36px;
    left: 0px;
    top: 0px;
    
    background: #F3BD1D;}
.logonav{
    position: absolute;
    width: 109.23px;
    height: 53.76px;
    left: 880.83px;
    top: 16.8px;
    
}
.imgp{
    position: absolute;
    width: 68px;
    height: 68px;
    left: 1799.99px;
    top: 6px;
    border-radius: 50%;
    border-color: #f3bd1d00;
}
.imgm{
    position: absolute;
    width: 231.44px;
    height: 231.44px;
    left: 1126.28px;
    top: 155.28px;
    }
.cs{
    position: absolute;
    width: 52.83px;
    height: 49px;
    left: 27.09px;
    top: 16px;

}
.branco{
    position: absolute;
    width: 350px;
    height: 890px;
    left: 1px;
    top: 78px;
    padding: 5px;
    
    background: #ffffff;

}
.conj{
    position: absolute;
    width: 1024px;
    height: 387px;
    left: 543px;
    top: 103px;
    
    background: #EFF0F3;
    border-radius: 10px;
}
.apoio{
    position: absolute;
    width: 1024px;
    height: 392px;
    left: 543px;
    top: 531px;
    
    background: #FFFFFF;
    border-radius: 10px;
    align-items: center;
}
.apoiotit{
    width: 328px;
    height: 34px;
    margin-left: 350px;
    font-family: 'nunito';
    font-size: x-large;
}
.apoiotot{
    width: 328px;
    height: 34px;
    margin-left: 400px;
    font-family: 'nunito';
    font-size: x-large;}

.bola{
    position: absolute;
    width: 154px;
    height: 155px;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 0px;
    border-color: #f3bd1d00;
    background: #BDBE6E;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
   
}
.aviso{
    height: 34px;
    font-family: 'nunito';
    font-size: large;
    border-left: 10px;
}
iframe{
    border-left: 20%;
    border-right: 20%;
}
.barralat{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    /* Continuar a aba lateral do professor... */
}