@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
 
body{
    background: linear-gradient(270deg, #BDBE6E 0.44%, #F3BD1D 51.22%, #BAD9C9 95.23%);
    font-family: Nunito;
}
.barra{
    position: absolute;
    width: 1920px;
    height: 82.36px;
    left: 0px;
    top: 0px;
    
    background: #F3BD1D;}
.logonav{
    position: absolute;
    width: 109.23px;
    height: 53.76px;
    left: 880.83px;
    top: 16.8px;
    
}
.imgp{
    position: absolute;
    width: 68px;
    height: 68px;
    left: 1799.99px;
    top: 6px;
    border-radius: 50%;
    border-color: #f3bd1d00;
}
.imgm{
    position: absolute;
    width: 231.44px;
    height: 231.44px;
    left: 1126.28px;
    top: 155.28px;
}
.cs{
    position: absolute;
    width: 52.83px;
    height: 49px;
    left: 27.09px;
    top: 16px;

}
.branco{
    position: absolute;
    width: 350px;
    height: 879px;
    left: 1px;
    top: 78px;
    padding: 5px;
    
    background: #ffffff;

}
.conj{
    position: absolute;
    width: 1024px;
    height: 387px;
    left: 543px;
    top: 103px;
    
    background: #EFF0F3;
    border-radius: 10px;
}
.apoio{
    position: absolute;
    width: 1024px;
    height: 392px;
    left: 543px;
    top: 531px;
    
    background: #FFFFFF;
    border-radius: 10px;
    align-items: center;
}
.apoiotit{
    width: 328px;
    height: 34px;
    margin-left: 350px;
    font-family: 'nunito';
    font-size: x-large;
}
.apoiotot{
    width: 328px;
    height: 34px;
    margin-left: 400px;
    font-family: 'nunito';
    font-size: x-large;}

.bola{
    position: absolute;
    width: 154px;
    height: 155px;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 0px;
    border-color: #f3bd1d00;
    background: #BDBE6E;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
   
}
.aviso{
    height: 34px;
    font-family: 'nunito';
    font-size: large;
    border-left: 10px;
}
iframe{
    border-left: 20%;
    border-right: 20%;
}

.barralat{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'nunito';
    color: #000000;
}

a{
    text-decoration: none;
    font-family: 'nunito';
    color: #000000;
    font-weight: bolder;
}
.tab{
    position: absolute;
    width: 604px;
    height: 828px;
    left: 575px;
    top: 120px;
    padding-left: 30px;
    padding-right: 30px;
    
    
    font-family: 'nunito';
    color: #000000;
    
    background: #FFFFFF;
    border-color: #f3bd1d00;
    border-radius: 10px;

}
.tconj{
    position: absolute;
    width: 336px;
    height: 380px;
    left: 1300px;
    top: 530px;
    padding: 1%;
    background: #FFFFFF;
    border-radius: 10px;

}
.infot{
    position: absolute;
    width: 376px;
    height: 420px;
    left: 1300px;
    top: 100px;
    
    background: #FFFFFE;
    border-radius: 10px;}
.legenda{
    width: 343px;
    height: 18px;
    margin-left: 15px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    
    color: #000000;}
table{
    width: 545px;
    height: 722px;
}
.addalu{
    width: 38px;
    height: 38px;
    border-top: 10px;
    border-left: 50px;
}
th{
    border-bottom: 1px;
}
td{
    border-left: 1;
}
.bolconj{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-color: #f3bd1d00;
    float: left;
    margin: 5%;
    background: conic-gradient(from 180deg at 50% 50%, #F3BD1D 0deg, #BAD9C9 176.25deg, #F3BD1D 328.12deg, #F3BD1D 360deg);
    
}
    
.nomeconj{
    text-decoration: none;
   
    color: #F3BD1D;
   
}
h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    
    color: #000000;
    
}

a.baixo{
    text-align: center;
    color: #F3BD1D;
}
div.margin{
    margin-left: 23%;
    margin-top: 15%;
}
.nome{
    align-items: center;
    width: 201px;
    margin-left: 100px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    
    color: #000000;

}
.area{
    margin-left: 100px;

}
.forma{
    margin-left: 100px;

}
.email{
    margin-left: 100px;

}
.edita{

}
.exclui{

}
.sair{

}

hr{
    margin-top:70%;
    margin-bottom: 5%;
}

a.left{
    float:left;
    color: #F3BD1D;
    margin-left: 5%;
}

a.right{
    float:right;
    color: red;
    margin-right: 5%;
}

p.nota{
    font-size: 600%;
    margin:0;
}